#signup-errors {
    font-size: 14px;
    font-weight: 300;
    color: red;
}
#x-button{
    position:absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #a2a2a2;
}
#x-button:hover{
    cursor: pointer;
}

#label-input-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
