@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600;700;800;900&display=swap');
#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    animation: 350ms cubic-bezier(0.48, 0.24, 0.56, 1.67) 0s 1 alternate modal-background-enter;
}

#modal-content {
    max-height: 85vh;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 425px;
    padding: 40px 0;
    animation: 350ms cubic-bezier(0.48, 0.24, 0.56, 1.67) 0s 1 alternate modal-content-enter;
}

.modal-background-exit{
    opacity: 0;
    transition: 350ms cubic-bezier(0.48, 0.24, 0.56, 1.67);
}
.modal-content-exit{
    opacity: 0;
    transform: translateY(70px);
    transition: 350ms cubic-bezier(0.48, 0.24, 0.56, 1.67);
}


.sign-up-link {
    color: #008294;
}

.login-sign-up-prompt {
    font-weight: 300;
}


#signup-errors,
#login-errors {
    font-size: 14px;
    font-weight: 300;
    color: red;
}

#demo-user-button {
    margin-top: 20px;
}

#modal-content form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 344px;
    overflow-y: auto;
}

#modal-content label {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}

#modal-content input {
    height: 48px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid rgb(209, 209, 209);
    padding: 0 10px;
}

#modal-content input:hover {
    border: .5px solid rgb(148, 148, 148);
}

#modal-content input:focus {
    outline: none;
    border: 1px solid rgb(75, 163, 175);
}

#modal-content button {
    outline: none;
    border: none;
    background-color: #f65858;
    color: white;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

#modal-content button:hover {
    background-color: #f77070;
    cursor: pointer;
}

#x-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #a2a2a2;
}

#x-button:hover {
    cursor: pointer;
}

#label-input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

@keyframes modal-content-enter {
    from {
        transform: translateY(70px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity:1;
    }
}
@keyframes modal-background-enter{
    from {
        opacity: 0;
    }
    to {
        opacity:1;
    }
}
