.home-page-outer-container{
    display: flex;
    justify-content: center;
}
.home-page-inner-container{
    width: 1170px;
}
.home-page-inner-container h2{
    color: rgb(33,33,33);
    font-size: 42px;
    font-weight: 700;
}

#user-nav{
    position: sticky;
    top: 80px;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
}

#user-links{
    display: flex;
    justify-content: space-between;
}
.user-link {
    color: #008294;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.user-link:hover {
    color: #008294;
    text-decoration: underline;
}

.user-content{
    display: flex;
}
