.home-page-outer-container{
    display: flex;
    justify-content: center;
}
.home-page-inner-container{
    width: 1170px;
}
.home-page-inner-container h2{
    color: rgb(33,33,33);
    font-size: 42px;
    font-weight: 700;
}

.user-events-groups{
    display: flex;
}

.user-events{
    width: 50%;
}

.user-groups{
    width: 50%
}
