.home-page-outer-container{
    display: flex;
    justify-content: center;
    border: 1px solid green;
}
.home-page-inner-container{
    border: 1px solid red;
    width: 1170px;
}
.home-page-inner-container h2{
    color: rgb(33,33,33);
    font-size: 42px;
    font-weight: 700;
}

.user-events-groups{
    border: 1px solid purple;
    display: flex;
}

.user-events{
    border: 1px solid blue;
    width: 50%;
}

.user-groups{
    border: 1px solid orange;
    width: 50%
}
