.individual-event-container {
    height: 180px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    padding: 12px 0;
    transition: 100ms linear;
}

.individual-group-event-container{
    height: 110px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    padding: 12px 0;
    transition: 100ms linear;
    width:60%;
}
.no-events-container{
    height: 110px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    padding: 12px 0;
    transition: 100ms linear;
    width:50%;
}
.individual-event-container:hover,
.individual-group-event-container:hover {
    cursor: pointer;
    padding: 12px 4px;
    opacity: .7;
}

.event-preview-image-container {
    margin-right: 16px;
}

.event-preview-image-container img {
    border-radius: 6px;
    height: 100px;
    width: 178px;
    object-fit: cover;
    object-position: top;
}

.event-text-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.event-text-title {
    font-size: 16px;
    font-weight: 500;
}

.event-time {
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #877457
}

.event-text-group-city-state {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #757575
}
.attending-count {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.attending-count p{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #757575

}
.attending-count i {
    font-size: 20px;
    color: #a2a2a2
}
