#group-event-list-container{
    width: 620px;
}

.individual-group-container{
    height: 180px;
    border-bottom: 1px solid #d9d9d9;
    display: flex;
    padding: 12px 0;
}

.group-preview-image-container{
    margin-right: 16px;
}
.group-preview-image-container img{
    border-radius: 6px;
    height: 100px;
    width: 178px;
}

.group-text-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.group-text-title{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.group-text-city-state{
    font-size: 14px;
    font-weight: 500;
    margin: 0;
    color: #877457
}
.group-text-about{
    font-size: 14px;
    font-weight: 300;
    color: #757575;
    text-overflow: ellipsis;
}
.member-count-privacy-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.member-count-privacy-status p{
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #757575
}
.member-count-privacy-status i{
    font-size: 20px;
    color: #a2a2a2
}
