
.group-event-option-button{
    background-color: #008294;
    color: white;
    height: 40px;
    padding: 0 12px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 7px;
    margin-right: 10px;
}

.group-event-option-button:hover{
    cursor: pointer;
    background-color: #0098ae;
}


/* Main Single Group Page */

.group-page-container{
    height: 100%;
    width: 85%;
    max-width: 1070px;
}

.gr-loading__container{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group-page__top{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.group-page__preview-image{
    border-radius: 8px;
    height: 50vh;
    max-height: 340px;
    width: 60%;
    object-fit: cover;
}

.group-page__info{
    width: 40%;
    padding: 0 20px;
}

.group-page__name{
    margin: 0;
}

.group-page__stats-container{
    display: flex;
    flex-direction: column;
}

.group-page__stat{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.group-page__stat__icon{
    color:#a8a8a8;
    width: 20px;
    display: flex;
    justify-content: center;
}

.group-page__stat__text{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 100;
    color: black;
}

/* Single Group Page Navbar */
.group-navbar{
    position: sticky;
    top: 0;
    background-color: white;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.group-navbar__inner{
    display: flex;
    width: 85%;
    max-width: 1070px;
}

.group-navbar__button-container{
    display: flex;
    width: 100%;
}

.group-navbar__button{
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
    margin-right: 35px;
}

.group-navbar__button:hover{
    color:#008294;
}

.group-navbar__button--active{
    color:#008294;
}

.group-navbar__options-container{
    display: flex;
    width: 100%;
}

.member-options__button-container{
    position: relative;
}

.member-options__button{
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    padding: 0 15px;
    background-color: #f6f7f8;
    font-size: 16px;
    color: #7e7e7e;
    cursor: pointer;
    /* z-index: 2; */
}

.member-options__chev{
    margin-left: 10px;
}

.join-group-button{
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-left: 200px;
    background-color: #f65858;
    color: white;
    cursor: pointer;
}

.join-group-button:hover{
    background-color: #f77878;
}

.member-options__dropdown{
    position: absolute;
    left: 0;
    top: 105%;
    width: 100%;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.39);
    z-index: 2;
}

.member-options__menu__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.member-options__menu__button{
    border-radius: 0px;
    border: none;
    border-top: #7e7e7e;
    border-bottom: #7e7e7e;
    background-color: white;
    padding: 10px 10px;
    cursor: pointer;
    color:#2e3e48;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}

.member-options__menu__button:hover{
    background-color: #e4e9ed;
}

/* Group Page Content */
.group-page-content{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f6f7f8;
    padding: 20px 0;
}

.group-page-content__inner{
    width: 85%;
    max-width: 1070px;
}

/* Group Page About Tab */
.group-about{
    display: flex;
    width: 100%;
}

/* Left side of About Tab */
.group-about__left{
    overflow-wrap: break-word;
    width: 55%;
}

.group-about__description{
    margin-bottom: 140px;
}

.group-about__title{
    font-size: 22px;
    font-weight: 400;
}

.group-about__text{
    font-size: 16px;
    font-weight: 100;
}

.group-about__events{
    display: flex;
    flex-direction: column;
}

.gr-about__event-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.gr-about__event-card:hover{
    box-shadow: 0 3px 10px -7px black;
    transform: translateY(-2px);
}

.gr-about__event-card__top{
    display: flex;
    justify-content: space-between;
}

.gr-about__event-card__date{
    margin-top: 0;
    color:#0398ab;
}

.gr-about__event-card__title{
    font-size: 22px;
    font-weight: 600;
}

.gr-about__event-card__stat{
    color: #7e7e7e;
    display: flex;
    align-items: flex-end;
}

.gr-about__event-card__loc__icon{
    margin-right: 10px;
}

.gr-about__event-card__loc__text{
    margin: 0;
    font-weight: 100;
}

.gr-about__event-card__stats{
    width: 70%;
}

.gr-about__event-card__image{
    width: 30%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.gr-about__event-card__description{
    font-weight: 100;
}

.gr-about__event-card__bottom{
    display: flex;
    justify-content: space-between;
}

.gr-about__event-card__num-att{
    font-weight: 100;
    color:#7e7e7e;
}

.gr-about__event-card__button{
    border: 1px solid #0398ab;
    color:#0398ab;
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    padding: 10px 25px;
    cursor: pointer;
}

/* Right Side of About Tab (members) */

.group-about__right{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 70px;
    box-sizing: border-box;
}

.about-members{
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
}

.about-members__list__title{
    font-weight: 500;
    font-size: 18px;
}

.about-members__list--private{
    background-color: #f0f1f2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    /* margin-top: 20px; */
    width: 100%;
    box-sizing: border-box;
}

.ab-members-private__warning{
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    color:#7e7e7e;
}

.about-members__organizer{
}

.about-members__organizer__info{
    display: flex;
    margin-bottom: 30px;
}

.about-members__organizer__name{
    margin-left: 15px;
}

.about-members__organizer__photo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.about-members__grid{
    /* width: 80%; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    grid-gap: 10px
}

.about-members__member-photo{
    background-color: #008294;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}


/* Group Events Tab */
.group-events__container{
    display: flex;
    width: 100%;
}

.switch-box{
    position:sticky;
    top: 100px;
    width: 45%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 0;
    margin-right: 20px;
    height: fit-content;
    border-radius: 4px;
}

.switch-box__tab{
    cursor: pointer;
    border: none;
    background-color: unset;
    font-size: 18px;
    display: flex;
    margin: 10px 0;
    padding: 0 20px;
    font-weight: 100;
    width: 100%;
    justify-content: space-between;
}

.switch-box__tab--selected{
    color:#0098ae;
    border-right: 3px solid #0098ae;
    font-weight: 500;
}

.group-event__cards{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.no-events__container{
    background-color: #f0f1f2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    margin-bottom: 10vh;
}

.no-events__title{
    font-weight: 500;
    margin: 5px;
}

.no-events-icon{
    color:#7e7e7e;
    font-size: 25px;
}

/* Group Members Tab */
.gr-members__right{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 85vh;
}

.gr-members__right--private{
    background-color: #f0f1f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 8px;
}

.gr-private__warning{
    font-weight: 400;
    margin: 5px 0;
}

.private-icon{
    color:#7e7e7e;
}

.gr-members__title{
    font-weight: 600;
    font-size: 20px;
    margin:0;
}

.gr-members__search{
    position: relative;
    color: #7e7e7e;
    margin-top: 20px;
}

.member-search-icon{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.gr-members__search__input{
    width: 100%;
    display: flex;
    border: 1px solid #c9c7c7;
    padding: 20px 40px;
    box-sizing: border-box;
    border-radius: 4px;
}

.gr-members__search__input:hover{
    border: 1px solid #7e7e7e;
}

.gr-members__search__input:focus{
    border: 1px solid #0097ae;
    outline: none;
}

.member-card{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.member-card__text-container{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.member-card__name{
    margin: 0;
}

.member-card__leader-text{
    margin: 1px 0;
    font-size: 14px;
}

.member-card__join-date{
    margin: 0;
    font-weight: 100;
    font-size: 14px;
}

.switch-box__text{
    margin: 0
}

/* Group Photos Tab */
.gr-photos__container{
    border-radius: 8px;
    padding: 20px;
    margin: 40px 0;
    background-color: white;
}

.gr-photos__top{
    border-bottom: 1px solid #a8a8a8;
    margin-bottom: 20px;
}

.gr-photos__title{
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.gr-photos__album-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    gap: 20px;
}

.gr-photos__card{
    display: flex;
    flex-direction: column;
    height: 300px;
}

.carousel-root{
    border-radius: 8px;
    overflow: hidden;
}

.gr-photos-car__image{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.gr-photos__album-title{
    font-weight: 400;
}

.car-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    border: none;
    padding: 10px;
    font-size: 24px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.car-button.prev{
    left: 20px;
    z-index: 1;
}

.car-button.next{
    right: 20px;
}

.photo-car__arrow{
    font-size: 14px;
}
