#single-group-page-container{
    display: flex;
    justify-content: center;
}

#single-group-page-inner-container{
    width: 1060px;
    display: flex;
    flex-direction: column;
}

#single-group-page-info-container{
    margin-top: 25px;
    display: flex;
    height: 318px;
}

#single-page-image-container{
    margin-right: 25px;
}
#single-group-page-preview-image{
    width: 565px;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

#single-group-page-info-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#single-group-page-info-text h1 {
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
}

#group-title-and-nav-link a {
    color: #008294;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

#group-title-and-nav-link a:hover{
    text-decoration: underline;
}

#single-group-page-info-text-top pre{
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    font-family: 'Outfit', sans-serif;
}

#single-group-page-info-text-top pre i{
    color:#a8a8a8;
    font-size: 16px;
}

.group-event-option-button{
    background-color: #008294;
    color: white;
    height: 40px;
    padding: 0 12px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 7px;
    margin-right: 10px;
}

.group-event-option-button:hover{
    cursor: pointer;
    background-color: #0098ae;
}

#single-group-about-container{
    margin-top: 50px;
    overflow-wrap: break-word;
}

#single-group-about-title{
    margin-top: 0;
}
#single-group-about-text{
    font-size: 16px;
    font-weight: 300;
}



/* Main Single Group Page */

.group-page-container{
    height: 100%;
    width: 85%;
    max-width: 1070px;
}

.group-page__top{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.group-page__preview-image{
    border-radius: 8px;
    height: 50vh;
    max-height: 340px;
    width: 60%;
    object-fit: cover;
}

.group-page__info{
    width: 40%;
    padding: 0 20px;
}

.group-page__name{
    margin: 0;
}

.group-page__stats-container{
    display: flex;
    flex-direction: column;
}

.group-page__stat{
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.group-page__stat__icon{
    color:#a8a8a8;
    width: 20px;
    display: flex;
    justify-content: center;
}

.group-page__stat__text{
    margin: 0 10px;
    font-size: 14px;
    font-weight: 100;
    color: black;
}

/* Single Group Page Navbar */
.group-navbar{
    position: sticky;
    top: 0;
    background-color: white;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.group-navbar__button-container{
    width: 85%;
    max-width: 1070px;
    display: flex;
}

.group-navbar__button{
    background-color: unset;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 100;
    margin-right: 35px;
}

.group-navbar__button:hover{
    color:#008294;
}

.group-navbar__button--active{
    color:#008294;
}

.member-options__button{
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #dfdfdf;
    border-radius: 8px;
    padding: 0 20px;
    margin-left: 200px;
    background-color: #f6f7f8;
    font-size: 16px;
    color: #7e7e7e;
    cursor: pointer;
}

.member-options__chev{
    margin-left: 10px;
}

.join-group-button{
    border: none;
    border-radius: 8px;
    padding: 15px;
    margin-left: 200px;
    background-color: #f65858;
    color: white;
    cursor: pointer;
}

.join-group-button:hover{
    background-color: #f77878;
}

.member-options__dropdown{
    position: absolute;
    left: 0;
    top: 105%;
    width: 100%;
    background-color: white;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0px 7px 10px -10px rgba(0, 0, 0, 0.39);
}

.member-options__menu__inner{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.member-options__menu__button{
    border-radius: 0px;
    border: none;
    border-top: #7e7e7e;
    border-bottom: #7e7e7e;
    background-color: white;
    padding: 10px 10px;
    cursor: pointer;
    color:#2e3e48;
    font-weight: 100;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}

.member-options__menu__button:hover{
    background-color: #7e7e7e;
}

/* Group Page Content */
.group-page-content{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f6f7f8;
}

.group-page-content__inner{
    width: 85%;
    max-width: 1070px;
}

/* Group Page About Tab */
.group-about{
}

.group-about__left{
    width: 55%;
}

.group-about__description{
    margin-bottom: 140px;
}

.group-about__title{
    font-size: 22px;
    font-weight: 400;
}

.group-about__text{
    font-size: 16px;
    font-weight: 100;
}

.group-about__events{
    display: flex;
    flex-direction: column;
}

.gr-about__event-card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    margin-bottom: 50px;
}

.gr-about__event-card:hover{
    box-shadow: 0 3px 10px -7px black;
    transform: translateY(-2px);
}

.gr-about__event-card__top{
    display: flex;
    justify-content: space-between;
}

.gr-about__event-card__date{
    margin-top: 0;
    color:#0398ab;
}

.gr-about__event-card__title{
    font-size: 22px;
    font-weight: 600;
}

.gr-about__event-card__stat{
    color: #7e7e7e;
    display: flex;
    align-items: flex-end;
}

.gr-about__event-card__loc__icon{
    margin-right: 10px;
}

.gr-about__event-card__loc__text{
    margin: 0;
    font-weight: 100;
}

.gr-about__event-card__stats{
    width: 70%;
}

.gr-about__event-card__image{
    width: 30%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.gr-about__event-card__description{
    font-weight: 100;
}

.gr-about__event-card__bottom{
    display: flex;
    justify-content: space-between;
}

.gr-about__event-card__num-att{
    font-weight: 100;
    color:#7e7e7e;
}

.gr-about__event-card__button{
    border: 1px solid #0398ab;
    color:#0398ab;
    background-color: white;
    border-radius: 8px;
    height: fit-content;
    padding: 10px 25px;
    cursor: pointer;
}
